<!doctype html>
<html>
<head>
  <title>Rock n' Roll</title>
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
</head>
<body>
  <!--image retrieved from http://imagesci.com/img/2013/11/electric-guitar-wallpapers-for-desktop-1689-hd-wallpapers.jpg-->
  <blockquote>"Smashed guitars just seem to sound better<br>
    than their unsmashed brethren." - Guitar Hero 3</blockquote>

    <h3>Are you ready for the next best thing since sliced bread?</h3>
    <h2>Thanks to brand spanking new technology<br>you can be a rockstar too!</h2>
    <h1>Get Jamster now!</h1>
    <img src="images/shoppingcart.png" alt="shop now" height="50" width="50">
    <!-- shopping cart icon retrieved from http://iconsetc.com/icon/bfa_shopping-cart/?style=flat-square-white-on-black-->
</body>
</html>
